.pdf-container {
    padding-top: 12vh; /* Dopasuj wysokość paska nawigacyjnego */
    width: 100vw;
    height: calc(100vh - 12vh); /* Odejmujemy wysokość paska nawigacyjnego */
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
