	* {
		font-family: "Poppins", sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	#main{
		background-image: linear-gradient(rgba(77,77,77,0.5),rgba(55,55,55,1)),url(../images/bike_banner.jpg);
	}


	#main2{
		background-image: linear-gradient(rgba(55,55,55,1),rgba(44,44,44,1));
	}

	img {
		width: 100%;
	}

	.container {
		max-width: 1068px;
		margin: auto;
		width: 100vw;
	}

	section {
		padding: 4rem 0 3rem;
	}

/* Header */
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
		z-index: 100;
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
	}

	#cart-icon {
		color: white;
		font-size: 1.8rem;
		cursor: pointer;
	}

	.cart {
		position: fixed;
		top: 0;
		right: -100%;
		width: 360px;
		min-height: 100vh;
		padding: 20px;
		box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
		transition: 0.3s;
		background-color: gray;
	}

	.cart.active {
		right: 0;

	}

	.cart-title {
		color: white;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: 2rem;
	}

	.cart-box {
		display: grid;
		grid-template-columns: 32% 50% 18%;
		align-items: center;
		gap: 1rem;
		margin-top: 1rem;
	}

	.cart-img {
		width: 100px;
		height: 100px;
		object-fit: contain;
		padding: 10px;
	}

	.detail-box {
		display: grid;
	}

	.cart-product-title {
		font-size: 1rem;
		text-transform: uppercase;
		color: white;
	}

	.cart-price {
		color: white;
		font-weight: 500;
	}

	.cart-quantity {
		border: 1px solid;
		width: 2.4rem;
		text-align: center;
		font-size: 1rem;
	}

	.cart-remove {
		font-size: 24px;
		color: mediumvioletred;
		cursor: pointer;
	}

	.total {
		background-color: gray;
		color: white;
		display: flex;
		justify-content: flex-end;
		padding-top: 1.5rem;
		border-top: 1px solid #48bb78;
	}

	.total-title {
		color: white;
		font-size: 1rem;
		font-weight: 600;
	}

	.total-price {
		margin-left: 0.5rem;
	}

	.btn-buy {
		display: flex;
		margin: 1.5rem auto 0 auto;
		padding: 12px 20px;
		border: none;
		background: #000;
		font-size: 1rem;
		font-weight: 500;
		color: white;
		cursor: pointer;
		transition: 1s;
	}

	.btn-buy:hover {
		background: #FF00FF;
	}

    .btn-clear-cart {
        display: flex;
        margin: 1.5rem auto;
        padding: 12px 20px;
        border: none;
        background: #ff0000;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    .btn-clear-cart:hover {
        background: #cc0000;
    }

	#close-cart {
		position: absolute;
		top: 1rem;
		right: 0.8rem;
		font-size: 2rem;
		color: white;
		cursor: pointer;
	}

	.section-title {
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 1.5rem;
		color: white;
	}

	.shop {
		margin-top: 2rem;
	}



	.shop-content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, auto));
		gap: 1.5rem;
	}

	.product-box {
		position: relative;
	}

	.product-box:hover {
		padding: 10px;
		border: 1px solid #777777;
		transition: 0.4s;
	}

	.product-img {
		color: white;
		width: 100%;
		height: auto;
		margin-bottom: 0.5rem;
	}

	.product-title {
		color: white;
		font-size: 1.1rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	.price {
		font-weight: 500;
		color: white;
	}

	.add-cart {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
	}

	.add-cart:hover {
		background: hsl(249, 32%, 17%);
	}

	/* --------------------------------------------FOOTER-------------------------------------------- */

	 .footer{
		 width: 100%;
		 text-align: center;
		 padding: 30px 0;
	 }

	  .footer h4{
		color: #FFF;
		margin-bottom: 25px;
		margin-top: 20px;
		font-weight: 600;
	 }

	 .footer p{
		text-align: center;
		margin: 0 auto;
		color: #FFF;
		font-weight: 500;
	 }


	@media (max-width: 700px) {

	.nav {
		padding: 13px;
	}

	section {
		padding: 2.8rem 0 1.8rem;
	}

	.container {
		margin: 0 auto;
		width: 85%;
	}

	.shop {
		margin-top: 1.8rem !important;
	}

	.cart {
		width: 400px;
	}

    }
